*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-image: linear-gradient(to right, #415B62, #85865C);
}

html{
    scroll-behavior: smooth;
}

/**HEADER**/
.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-image: linear-gradient(to right,#50727B,#B2B377);
    height: 80px;
    padding: 10px 2%;
    position: fixed;
    z-index: 2;
    width: 100%;
}

@media screen and (max-width: 910px){
    header .container{
        display: inline-block;
    }
    header{
        height: 148px;
        text-align: center;
        text-wrap: nowrap;
        overflow: hidden;
        transition: 0.3s;
    }
    nav{
        margin: 20px 0px 20px 0px;
    }
}
@media screen and (max-width: 630px){
    .container{
        width: 100%;
    }

    header{
        height: 80px;
        transition: 0.3s;
    }
}

.logo-2 img{
    width: 97px;
    height: 55px;
}

.logo-1 img{
    width: 168px;
    height: 60px;
}
/**HEADER**/

/**NAVBAR**/
nav a{
    text-decoration: none;
    color: white;
    margin: 50px;
    font-family: "Gentium Book Plus", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

nav a:hover{
    color: #F1F5A8;
    border-bottom: 2px solid #F1F5A8;
}
/**NAVBAR**/

/**BACKGROUND HEADER**/
section .cover-form{
    width: 100%;
    padding: 10px 2%;
}

.bg{
    height: 850px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/background_header.webp);
}
/**BACKGROUND HEADER**/

/**FORMULARIO**/
.form-container{
    margin: 5%;
    width: 96%;
    max-width: 423px;
    height: 602px;
    background-image: linear-gradient(to bottom, rgba(118, 136, 91, 0.860), rgba(52, 73, 85, 0.860));
    border-radius: 30px 5px 30px 5px;
}

@media screen and (max-width: 1133px){
    main .form-container{
        margin: 10%;
        transition: 0.3s;
     }
}

@media screen and (max-width: 910px){
    .form-container{
        z-index: 1;
        position: relative;
        top: 40px;
    }
    main .form-container{
        margin: 6%;
        transition: 0.3s;
     }
}

@media screen and (max-width: 630px){
    main .form-container{
        margin: 10%;
        transition: 0.3s;
     }
}

@media screen and (max-width: 375px){
    main .form-container{
        margin: 2%;
        transition: 0.3s;
     }
}

.form-container h2{
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    padding: 40px 40px 21px 40px;
}

.form-container h3{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
    padding: 0px 40px 32px 40px;
}

.form-input{
    padding: 0px 40px 22px 40px;
}

.form-container .form-input{
    padding-bottom: 22px;
}
.form-input input{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
    padding: 15px;
    margin-bottom: 22px;
    outline: none;
}

#id-input-form::placeholder{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white
}

.form-input #id-input-form{
    background: none;
    border: 1px solid #F1F5A8;
    border-radius: 4px;
    width: 96%;
    max-width: 342px;
    height: 52px;
}

.form-input #id-textarea-form{
    background: none;
    border: 1px solid #F1F5A8;
    border-radius: 4px;
    width: 96%;
    max-width: 342px;
    height: 92px;
    margin-bottom: 22px;
}

#id-textarea-form::placeholder{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white
}

.form-input textarea{
    width: 96%;
    max-height: 100px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    resize: none;
    outline: none;
    color: white;
    padding: 15px;
    transition: 0.1s;
}

#id-button-form{
    text-decoration: none;
    width: 96%;
    max-width: 342px;
    height: 52px;
    font-size: 22px;
    font-weight: 700;
    background-image: linear-gradient(to right, #B1B377, #77895C);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    line-height: 1;
}
#id-input-form:hover{
    border: 1px solid #d7da26;
    transition: 0.2s;
}
#id-textarea-for:hover{
    border: 1px solid #d7da26;
    transition: 0.2s
}

#id-button-form:hover{
    background-image: linear-gradient(to right, #969764, #606e4b);
    transition: 0.4s
}

.form-input #id-textarea-form:hover{
    border: 1px solid #d7da26;
    transition: 0.2s
}
/**FORMULARIO///////**/

/**CHAMADA**/
main .chamada{
    display: flex;
    justify-content: center;
}
.container-chamada{
    height: 263px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #78A083, #344955);
}

.chamada h2{
    color: white;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 10px 0px 0px 0px ;
}
.chamada h4{
    color: white;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.chamada img{
    position: relative;
    top: -35px;
}
.chamada img:hover{
    scale: 1.1;
    transition: 0.4s;
}

@media screen and (max-width: 818px){
    .chamada h2{
        font-size: 38px;
    }

    .chamada h4{
        font-size: 15px;
    }
}
/**CHAMADA///////**/

/**MOSAICO**/
.flex-mosaico{
    display: flex;
    flex-wrap: wrap;

}

.item-1-mosaico{
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 421px;
}

.item-2-mosaico{
    height: 421px;
    margin-top: 10px;
    background-image: linear-gradient(to left, #455E60, #6B8F7A);
    padding: 50px;
    width: 40%;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.item-2-mosaico h2{
    padding: 0px 0px 15px 0px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.item-2-mosaico p{
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 1133px){
    .flex-mosaico{
        display: block;
    }

    .item-1-mosaico{
        width: 100%;
    }

    .item-2-mosaico{
        width: 100%;
    }
}

/**MOSAICO///////**/

/**FOOTER**/
.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #344955, #50727B);
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

.logo-footer img{
    width: 172px;
    height: 169px;
    margin: 40px;
}

.list-footer{
    color: white;
    list-style: none;
}
.list-footer li{
    padding: 7px 0px 7px 0px;
}

.list-footer h2{
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-size: 28px;
}

.list-footer a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}

footer p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    background-color: #2D404B;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.list-footer a:hover{
    color: rgb(179, 192, 208);
}

@media screen and (max-width: 650px){
    .container-footer{
        display: block;
        text-align: center;
    }

    .list-footer li{
        margin-top: 10px;
    }
}
/**FOOTER///////**/